body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  }
  
  .container {
    width: 100%;
    min-height: 500px;
    border-radius: 8px;
  }
  
  input, textarea, select {
    margin-bottom: 10px;
    padding: 5px;
  }

  textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  pre {
    background: #f4f4f4;
    padding: 10px;
    overflow-x: auto;
    min-height: 300px;
    max-height: 200px;
  }

  label {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .text-weight-bold {
    font-weight: bold;
  }
  
  .my-10 {
    margin: 10px 0;
  }

  .align-items-center {
    align-items: center;
  }

  .justify-content-center {
    justify-content: center;
  }
  
  .w-full {
    width: 100%;
  }

  .padding-10 {
    padding:10px;
  }

  .d-flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: row;
  }
  
  .gap-4 {
    gap: 4px
  }

  .tabs {
    display: flex;
    cursor: pointer;
    padding: 10px;
    background: #f1f1f1;
  }
  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background: #ddd;
  }
  .tab.active {
    background: white;
    border-top: 2px solid #007bff;
  }
  .tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
  }
  .tab-content.active {
    display: block;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }