* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--gray-700);
}

html,body{
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #1f1f1f; 
  -webkit-font-smoothing: antialiased;
  font: 400 1rem 'Arial', sans-serif;
  color: #FAFAFA
}

